@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.page1 {
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    at top left,
    #092844,
    #1d0c46,
    #24001c,
    #000000,
    #000000,
    #000000,
    #000000
  );

  header {
    padding: 10px 30px;
    font-size: 0.7rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pageIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      img {
        height: 25px;
        width: 25px;
        border-radius: 5px;
      }
    }

    .navlinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .items,
      button {
        cursor: pointer;
      }

      button {
        border-radius: 10px;
        cursor: pointer;
        background: #0099ff;

        color: white;
        border: none;
        outline: none;
        font-size: 0.65rem;
        padding: 5px 10px;
        font-weight: 600;
      }
    }
  }

  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 65px;

    span {
      font-weight: 700;
      background: linear-gradient(
        to right,
        #c1f3ec,
        #96f7f1,
        #9cd4f2,
        #f598ed,
        #cec8f4,
        #c6f5ec,
        #ffffff
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

.page2 {
  height: 55vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;

  p {
    padding: 1rem 15rem;
    font-size: 0.8rem;
    text-align: center;
  }

  button {
    margin-top: 4rem;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-size: 0.65rem;
    padding: 5px 10px;
    font-weight: 600;

    i {
      padding-left: 3px;
    }
  }
}

.page3 {
  height: 80%;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;

  img {
    height: 85%;
    width: 55%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  .message {
    color: white;
    font-size: 0.8rem;
  }
}

.page4 {
  padding-top: 2rem;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

  .top-part {
    height: 40%;

    .feature {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
      font-weight: 700;
    }

    .line1 {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .imgContainer {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img#forbes {
          object-fit: cover;
          height: 60%;
          width: 50%;
        }
        img#fortune {
          object-fit: contain;
          height: 80%;
          width: 80%;
        }
        img#insider {
          height: 70%;
          width: 60%;
          object-fit: cover;
        }
      }
    }

    .line2 {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .imgContainer {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img#wsj {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
        img#qsr {
          height: 100%;
          width: 35%;
          object-fit: cover;
        }
        img#techcrunch {
          height: 60%;
          width: 60%;
          object-fit: cover;
        }
      }
    }
  }

  .bottom-part {
    height: 50%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 0.7rem;
      padding: 2rem 20rem;
      text-align: center;
    }
  }
}

.page5 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;

  .heading {
    height: 10%;
  }
  .line1 {
    height: 30%;
    width: 100%;
    background-color: rgb(71, 71, 71);
  }
  .line2 {
    height: 30%;
    width: 100%;
    background-color: rgb(71, 71, 71);
  }
}

.page6 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 7.5rem;

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 2rem;

    h1,
    h3 {
      width: 100%;
      text-align: center;
      font-weight: 400;
    }

    h1 {
      font-size: 66px;
      line-height: 73px;
    }

    h3 {
      font-size: 23px;
      line-height: 35px;
    }
  }

  .right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      input {
        height: 2rem;
        width: 70%;
        padding: 0.5rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
      }

      button {
        height: 2rem;
        width: 70%;
        padding: 0.5rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        background-color: #0099ff;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.page7 {
  height: 50%;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: black;
  color: white;
  border-top: 1px solid white;
  .part1,
  .part2,
  .part3 {
    width: 30%;

    h5 {
      font-size: 1.2rem;
      padding-bottom: 0.7rem;
      font-weight: 600;
    }
    h6 {
      width: fit-content;
      padding-bottom: 0.3rem;
      font-size: 0.7rem;
      font-weight: 400;
      cursor: pointer;
    }
    h6:hover {
      text-decoration: underline;
    }
  }
}

.page8 {
  height: 10%;
  width: 80%;
  border-top: 1px solid white;
  margin: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .part1,
  .part2,
  .part3 {
    width: 30%;
    height: 100%;
    text-align: end;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .part1 {
    justify-content: start;
  }

  .part2 h6 {
    cursor: pointer;
    width: fit-content;
  }

  .part2 h6:hover {
    text-decoration: underline;
  }

  .part3 {
    gap: 0.5rem;
  }

  .part3 h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .part3 h6:hover {
    border: 1px solid white;
    transition: all 1s ease-in-out;
  }

  .part3 h6 i {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
